.Banner7{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    
}

.Banner7-bg-txt{
    display: flex;
    justify-content: center;
    grid-area: 1/1/-1/-1;
    
}

.Banner7-bg-txt>h1{
   
   font-size: 100px;
   color: rgb(0, 0, 0,0.1);
}

.Banner7-content{
    grid-area: 1/1/-1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.Banner7-content>h1{
    
    
}

.reiewcard{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.review-item-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(0, 0, 0,0.1);
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
}

.review-item-img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid rgb(0, 0, 0,.1);
}


